//initializing values to sass variables
$primary-color: #ff0067;
$secondary-color: #10163b;
$header-background-color: #ff0067;
$white: #fff;
$logo-height: 30px;
$footer-background : #10163b;
$container-color: #d5d7e9;
$button-color: #ff0067;